@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: #fff;
}
.container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    background-color: #30B868;
    color: #fff;
    padding: 12px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #30B868;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: transparent;
    color: #30B868;
    border: 1px solid #30B868;
}
.btn-t{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-t:hover{
    background-color: #30B868;
    color: #fff;
}

/* header section */
header{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo img{
    width: 139px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: #30B868;
}


/* banner section */
.banner{
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-image: url(./assets/hero-bg.png);
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content{
    text-align: center;
    color: #fff;
    max-width: 700px;
    margin: auto;
}
.banner-content .now-open-btn{
    background-color: #fff;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 50px;
    color: #30B868;
    margin: auto;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 27px;
}



/* Notes section */
.notes{
    width: 100%;
    padding: 50px 0;
    background-color: #fbfbfb;
}
.notes .container{
    text-align: center;
}
.notes .notes-heading{
    margin-bottom: 44px;
}
.notes .notes-heading h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.notes .notes-heading p{
    font-size: 17px;
    color: #3e3e3e;
}
.notes .notes-content{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}
.notes-content .card{
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.077);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.notes-content .card .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #F95555;
}
.notes-content .card h3{
    font-size: 20px;
    font-weight: 600;
}
.notes-content .card p{
    font-size: 16px;
    color: #3e3e3e;
}



/* brain section */
.brain{
    width: 100%;
    padding: 120px 0;
}
.brain-content{
    display: flex;
    align-items: center;
}
.brain-img{
    flex: 1;
}
.brain-content .brain-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    padding-right: 60px;
}
.brain-content .brain-text span{
    color: #30B868;
}
.brain-content .brain-text h1{
    font-size: 48px;
    font-weight: 700;
}
.brain-content .brain-text p{
    font-size: 16px;
    color: #3e3e3e;
    line-height: 26px;
}
.brain-text ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.brain-text ul li{
    font-size: 16px;
    color: #3e3e3e;
}



/* early access section */
.early-access{
    width: 100%;
}
.early-access .container{
   background-color: #f7f6f2;
   text-align: center;
   padding: 80px 40px;
   margin-bottom: 120px;
}
.early-access .early-access-heading{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}
.early-access .early-access-heading h1{
    font-size: 40px;
    font-weight: 700;
}
.early-access .early-access-heading p{
    font-size: 16px;
    color: #3e3e3e;
    width:45%;
    margin: auto;
}
.early-access .button-content{
    margin-top: 24px;
}
.early-access .button-content .btn{
    margin-bottom: 16px;
}
.early-access .button-content p{
    font-size: 16px;
    color: #3e3e3e;
}



/* footer section */
footer{
    width: 100%;
    background-color: #001931;
    padding: 120px 0 30px;
}
footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
footer .footer-content .social-media{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-right: 70px;
}
.footer-content .social-media p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.footer-content .social-media .social-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-content .social-media .social-icons a{
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    color: #000;
    font-size: 17px;
}
footer .container hr{
    border: 0.4px solid #74747480;
    margin-bottom: 20px;
}
footer .copyright{
    text-align: center;
}
footer .copyright p{
    color: #fafafa;
    font-size: 15px;
}