@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background: #fff;
}
.container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.btn{
    background-color: #30B868;
    color: #fff;
    padding: 12px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #30B868;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: transparent;
    color: #30B868;
    border: 1px solid #30B868;
}
.btn-t{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.btn-t:hover{
    background-color: #30B868;
    color: #fff;
}

/* header section */
header{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo img{
    width: 139px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: #30B868;
}


/* banner section */
.banner{
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-image: url(./assets/hero-bg.png);
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content{
    text-align: center;
    color: #fff;
    max-width: 700px;
    margin: auto;
}
.banner-content .now-open-btn{
    background-color: #fff;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 50px;
    color: #30B868;
    margin: auto;
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 27px;
}



/* Notes section */
.notes{
    width: 100%;
    padding: 50px 0;
    background-color: #fbfbfb;
}
.notes .notes-heading{
    margin-bottom: 44px;
}
.notes .notes-heading h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.notes .notes-heading p{
    font-size: 17px;
    color: #3e3e3e;
}
.notes .notes-content{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}
.notes-content .card{
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.077);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.notes-content .card .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #F95555;
}
.notes-content .card h3{
    font-size: 20px;
    font-weight: 600;
}
.notes-content .card p{
    font-size: 16px;
    color: #3e3e3e;
}